
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}


.title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.navbar {
    background-color: #343a40;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}


.dropdown-button {
    background-color: #FCF5E5;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.dropdown-button:hover {
    background-color: #FCF5E5;
}


.dropdown-menu {
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    max-height: 300px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.dropdown-menu::-webkit-scrollbar {
    width: 6px;
}
.dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.dropdown-menu::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}


.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
}

.dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
}
